/* место для вашего кода */
body {
  width: 1440px;
  height: 2844px;
}

.header {
  padding: 92px 49px 92px 51px;
  display: grid;
  grid-template-columns: 388px 1fr 240px;
  grid-template-rows: 109px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 13px;
  padding-top: 43px;
  padding-bottom: 45px;
}

.header-menu-item {
  font-family: Raleway;
  font-size: 18px;
  text-wrap: nowrap;
}
.text-line {
  text-decoration: underline;
  
}

.list_marker {
  width: 7px;
  height: 7px;
}

.header-contacts {
  color: #000;
  font-size: 18px;
  line-height: 24.3px; /* 135% */
  padding-top: 5px;
}

.logo-black {
  display: flex;
  width: 148px;
  height: 105px;
  margin-left: 209px;
}
.cover {
  display: flex;
  width: 1440px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  background: #000;
  opacity: 0.6;
  width: 1440px;
  height: 757px;
  
}

.cover__title {
  display: flex;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  word-spacing: -30px;
  position: absolute;
}

.text-left {
  display: block;
  padding-top: 165px;
  padding-left:50px;
  text-align: left;
  text-wrap: nowrap;
}

.text-center {
  display: block;
  padding-top: 300px;
  padding-left: 110px;
  text-wrap: nowrap;
}

.text-right {
  display: block;
  padding-top: 420px;
  padding-left: 90px;
  text-align: right;
  text-wrap: nowrap;
}

.cover__description {
  padding: 667px 385px 62px 422px;
  color: #fff;
  font-size: 22px;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  position: absolute;
  word-spacing: 17px;
}
.bet-button {
  margin: 655px 50px 50px 1133px;
  width: 257px;
  height: 52px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  border: 1px solid #fff;
}
.bet-text {
  display: flex;
  padding: 12px 32px;
  text-wrap: nowrap;
}
